.container{
    display: flex;
	height: 30px;
	border: 1px solid rgb(238, 238, 238);
}

.search{
    width: 700px;
	height: 100%;
	border: 0;
	padding: 0;
}

.btn{
    height: 100%;
	border: 0;
	padding: 0px 6px 0px 6px;
}